{% extends 'templateApp/squellete.html' %} {% load static %} {% block content %}
<body class="inner_page login">
  <div class="full_container">
    <div class="container">
      <div class="center verticle_center full_height">
        <div class="login_section">
          <div class="logo_login">
            <div class="center">
              <img
                width="210"
                src="{% static 'module/images/logo/logo.png' %}"
                alt="#"
              />
            </div>
          </div>
          <div class="login_form">
            <form action="" method="POST">
              {% csrf_token %}
              <fieldset>
                <div class="field">
                  <h1>Confirmer la suppression de la matière</h1>
                  <p>Êtes-vous sûr de supprimer "{{ matiere.nomMatiere}}" ?</p>
                </div>
                <div class="field margin_0">
                  <button class="main_bt">Supprimer</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}
</body>
